@model ProductDetailModel

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/img/@Model.Product.Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Product.Title</h5>
        <p>@Model.Product.Description</p>
        <a href="#" class="btn btn-primary">İçerik Burası</a>
    </div>
</div>