@model CategoryListViewModel

<a class="btn btn-primary mb-3 btn-create" style="float: right" asp-controller="admin" asp-action="CategoryCreate" role="button">Kategori Ekle</a>

<table id="dataTable" class="text-center">
    <thead class="bg-light text-capitalize">
        <tr>
            <th>Id</th>
            <th>Kategori</th>
            <th>Güncelle</th>
            <th>Sil</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Categories.Count > 0)//ürün varsa gel foreachı çalıştır
        {
            @foreach (var item in Model.Categories)//her ürüne göre oluşacak
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.Title</td>
                    <td>
                        <a href="/admin/CategoryEdit/@item.CategoryId" class="btn btn-primary btn-sm mr-2">Güncelle</a>
                    </td>
                    <td>

                        <form action="/admin/CategoryDelete" method="post">     
                            <input type="hidden" name="CategoryId" value="@item.CategoryId" />
                            <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                        </form>     
                    </td>

                </tr>
            } }
        else @*eğer yoksa*@ {
            <div class="alert alert-warning" role="alert">
                <h3>Ürün Yok</h3>
            </div>
        }
    </tbody>
</table>