@model SliderModel

<form asp-controller="Admin" asp-action="SliderEdit" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-lg-6 col-ml-12">
            <input type="hidden" name="SliderId" value="@Model.SliderId" />
            <div class="row">
                <!-- Textual inputs start -->
                <div class="col-12 mt-5">
                    <div class="card">  
                        <div class="card-body"> 

                            <label class="form-label" for="customFile">Kıçırıldınıze</label>
                            <img src="~/img/@Model.Image" width="80" alt="Alternate Text" />
                            <input type="file" name="formFile" class="form-control" asp-for="Image" />

                            <div class="form-group">
                                <label asp-for="Url" for="example-url-input" class="col-form-label">URL</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">https://halichub.com.tr/</span>
                                    </div>
                                    <input asp-for="Url" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>