@{ Layout = null; }
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sabor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/register/dist/css.css" rel="stylesheet" />
    <link rel="stylesheet" href="normalize.min.css">
    <link href="~/register/dist/style.css" rel="stylesheet" />
</head>
<body>-->
<!-- partial:index.partial.html -->
<!--<div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h1 class="user__title">Şifremi Unuttum</h1>
    </header>
    <form class="form" asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-success" style="color:yellow"></div>
        <div class="form__group">
            <input type="email" name="Email" placeholder="Email adresinizi giriniz" class="form__input" required />
        </div>
        <button class="btn" type="submit">Emailime Link Gönder</button>
    </form>
</div>-->
<!-- partial -->
<!--<script src="~/register/dist/script.js"></script>
</body>
</html>-->
@* ------------------------ *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Login Form with floating placeholder and light button</title>
    <link href="~/password/style.css" rel="stylesheet" />
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="login-box">
        <h2>Şifre Sıfırlama</h2>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-success" style="color:yellow"></div>
            <div class="user-box">
                <input type="email" name="Email" placeholder="Email adresinizi giriniz" required />
                <label>Email adresinizi giriniz</label>
            </div>
            <button style="background-color: #0F1824;" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                EMailime Link Gönder
            </button>
        </form>
    </div>
    <!-- partial -->

</body>
</html>
